# Compiled Dynamic libraries
*.so
*.dylib
*.dll

/.vspreview
*.png
/build*
/dist*
/.venv
/__pycache__
# build against a local checkout least of all.
/subprojects/*
!/subprojects/*.wrap
!/subprojects/packagefiles/
